skip_commits:
  message: /Updated (readme|docs).*|!skipci/

image: Visual Studio 2019

clone_folder: C:\projects\VimTabCompletion

environment:
  NugetApiKey:
    secure: pQNh/Ufe3iH2DwBCI6/MEFq+Az3WouUxBWpsLztdukB7M4k2BfLJpUo+MrKiou+S

install:
  - cinst vim
  - cinst universal-ctags
  - pwsh: refreshenv
  - pwsh: Get-Command -Name vim -All -Verbose | Format-List
  - pwsh: Get-Command -Name readtags -All -Verbose | Format-List

cache:
  - _build_dependencies_ -> *.Depend.psd1

build: off

test_script:
  - pwsh .\build.ps1

on_finish:
  - pwsh: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
