skip_commits:
  message: /(docs|chore).*|!skipci/
  files:
    - '**/*.md'

image: Visual Studio 2019

clone_folder: C:\projects\VimTabCompletion

environment:
  NugetApiKey:
    secure: pQNh/Ufe3iH2DwBCI6/MEFq+Az3WouUxBWpsLztdukB7M4k2BfLJpUo+MrKiou+S

install:
  - cinst vim
  - cinst universal-ctags
  - cinst git
  - pwsh: refreshenv
  - pwsh: Get-Command -Name vim -All -Verbose | Format-List
  - pwsh: Get-Command -Name readtags -All -Verbose | Format-List
  - pwsh: Get-Command -Name git -All -Verbose | Format-List

# cache:
#   - _build_dependencies_ -> *.Depend.psd1
#   - C:\ProgramData\chocolatey\bin -> appveyor.yml
#   - C:\ProgramData\chocolatey\lib -> appveyor.yml
#   - C:\Tools\vim -> appveyor.yml

build: off

test_script:
  - pwsh: $PSVersionTable
  - pwsh: .\build.ps1 -Task Build
  - ps: $PSVersionTable
  - ps: .\build.ps1 -Task Test

on_finish:
  - pwsh: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
